@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo-animation {
    animation: rotate infinite 5s linear; /* Puedes ajustar la duración y el tipo de animación según tus preferencias */
}